<div class="row">
  <div class="col-md-12">
    <ngx-dinamicform [normalform]="formBiblioteca" [(modeloData)]="info_biblioteca"
    (result)="validarForm($event)" (resultSmart)="binding($event)" [clean]="clean">
    </ngx-dinamicform>
  </div>
  <div class="col-md-12">

      <agm-map [latitude]="info_biblioteca.CordY"
      [longitude]="info_biblioteca.CordX"
      [scrollwheel]="true"
      [mapTypeControl]="true"
      [zoom]="15"
      [panControl]="true">
      <agm-marker [latitude]="info_biblioteca.CordY"
          [longitude]="info_biblioteca.CordX"
          [markerDraggable]="false"
          (dragEnd)="update_pos($event)"></agm-marker>
      </agm-map>
  </div>
</div>





